*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}
#showcase{
    background-image: url(img/pexels-markus-spiske-1002634.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0, 40px;
    position: relative;
}
.showcase-content{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0, 30px;
    color:white;
    
}

#showcase h3{
    font-weight: lighter;
    letter-spacing: 2px;
}
#showcase p{
    letter-spacing: 1px;
    font-size: 20px;
}
#showcase h1{
   font-size:30px ;
   
}
#showcase .btn{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px,20px;
    font-size: 18px;
    padding: 5px;
    color: white;
    margin-top: 20px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
   
}
#showcase .btn1{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px,20px;
    font-size: 18px;
    padding: 5px;
    color: white;
    background-color:#926239 ;
    margin-top: 20px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
}
   
#showcase .btn:hover{
    color: white;
    background-color: #926239;
}
#showcase .btn1:hover{
    color: white;
    background-color: transparent;
}
#showcase::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}
#work{
    background-color: gainsboro;
    color:#926239;;
    text-align: center;
    padding: 10px;
}
#work h1{
    font-weight: lighter;
    font-size: 20px;
}

section .wrapper{
 max-width: 95%;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
 
}
section .wrapper img{
     width: 100%;
    height: auto;
    border-radius: 4px;
    
  
}
section .wrapper div{
    transition: all 0.3s ease-in;
 }

section .wrapper div:hover{
  transform:scale(1.2);
  }

input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    display: block;

  }
  .contact label{
      color: goldenrod ;
  }
  
  input[type=submit] {
    background-color:goldenrod;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    z-index: 2;
  }
  
  input[type=submit]:hover {
    background-color:white;
    color:goldenrod;
   
  }
  
  .contact {
    background-color: #f2f2f2;
    padding: 20px;
    background-image: url(img/pexels-markus-spiske-1002634.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    
   
  }

 .contact #overlay{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    z-index: -1;
   
}
.footer {
  background-color: #FAFCFF;
  padding: 20px 0;
  text-align: center;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin: auto;
}
ul.social-network li {
  display: inline;
  margin: 0 10px;
}

/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}
.social-network a.icoMedium:hover {
  background-color: #00AB6C;
}
.social-network a.icoQuora:hover {
  background-color: #AA2200;
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoInstagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoMedium:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 22px;
}

.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #CCD8EA;
}

@media screen and (max-width: 500px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
}
@media screen and (max-width: 450px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}

@media screen and (min-width:720px){
    #showcase h1{
        font-size:50px;
    }
    #showcase p{
        font-size:25px;
    }

    
}
@media screen and (max-width:700px){
    
        
    }

@media screen and (max-width:400px){
   section .wrapper{
       // grid-template-columns: 1fr 1fr;
        
    }
    section .wrapper div:hover{
        transform:scale(1.1);
        
      }
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        display: block;
      }
      
}